.b-restore-password.container {
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
}

.b-restore-password__title,
.b-restore-password__help-text,
.b-restore-password__form .MuiFormControl-root {
  margin-bottom: var(--average-margin);
}

.b-restore-password__form .MuiFormControl-root {
  width: 100%;
}

@media (min-width: 768px) {
  .b-restore-password.container {
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
  }
}
