.b-restore-password.container {
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
  border-radius: var(--border-radius);
  background-color: #f7f7f7;
  margin-top: 200px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
}

.b-restore-password__title,
.b-restore-password__help-text,
.b-restore-password__form .MuiFormControl-root {
  margin-bottom: var(--average-margin);
}

.b-restore-password__form .MuiFormControl-root {
  width: 100%;
}
