.b-sign-up.container {
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
}

.b-sign-up__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--large-margin);
}

.b-sign-up__sign-in {
  color: var(--link-color);
}

.b-sign-up__sign-in:hover {
  opacity: 0.8;
}

.b-sign-up__form .MuiFormControl-root {
  width: 100%;
  margin-bottom: var(--huge-margin);
}

.b-button.b-sign-up__submit {
  width: 100%;
  border-radius: var(--border-radius);
}

.b-sign-up__submit:hover {
  opacity: 0.8;
}

@media (max-width: 380px) {
  .b-sign-up__title {
    font-size: 20px;
  }

  .b-sign-up__sign-in {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .b-sign-up.container {
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
  }
}
