.b-sign-in.container {
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
}

.b-sign-in__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--average-margin);
}

.b-sign-in__form .b-sign-in__forgot-password {
  display: block;
}

.b-sign-in__sign-up,
.b-sign-in__forgot-password {
  color: var(--link-color);
}

.b-sign-in__sign-up:hover {
  opacity: 0.8;
}

.b-sign-in__form .MuiFormControl-root,
.b-sign-in__form .b-sign-in__forgot-password {
  width: 100%;
  margin-bottom: var(--large-margin);
}

.b-button.b-sign-in__submit {
  width: 100%;
  border-radius: var(--border-radius);
}

.b-sign-in__submit:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .b-sign-in.container {
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.89);
  }
}
